<h2>Valores Históricos de Indicador <%= "##{@issue.id}: #{@issue.subject}" %></h2>
<%= link_to "Volver", issue_path(@issue), class: "btn"%>
<%= link_to "+ Valor Histórico", new_issue_historic_value_path(@issue), class: "btn"%>
<div id="chart_ind_<%=@issue.id%>" class="plot_ind" style="background:transparent;align:center;"></div>
<script type="text/javascript">
$(document).ready(function(){
  var line1=<%= @issue.valores_historicos.html_safe %>;
  var plot_ind_<%=@issue.id%> = $.jqplot('chart_ind_<%=@issue.id%>', [line1], {
    title:'',
    seriesDefaults: {
      pointLabels: { show:true }
    },
    axes:{
        xaxis:{
            renderer:$.jqplot.DateAxisRenderer
        }
    },
    series:[
      {lineWidth:2, markerOptions:{color:'#384763'} }
    ]
  });
});
</script>
<br /><br /><br />
<div align="center">
<table class="list" style="width: auto !important;">
<thead>
  <tr>
    <th>Fecha</th>
    <th>Valor</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @issue.historic_values.order("fecha desc").each do |historic_value| -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= I18n.l(historic_value.fecha, format: :tradicional)%></td>
    <td><%= historic_value.valor%></td>
    <td class="buttons">
        <%= link_to image_tag('edit.png'), edit_issue_historic_value_path(@issue,historic_value),
                                           :title => l(:button_edit) %>
        <%= link_to image_tag('delete.png'), issue_historic_value_path(@issue,historic_value),
                                             :data => {:confirm => l(:text_are_you_sure)},
                                             :method => :delete,
                                             :title => l(:button_delete) %>
    </td>
  </tr>
<% end -%>
</tbody>
</table>
</div>
