<div class="div_section">
  <h3 class="siac_title">
    Completar convocatoria – <%= @convocatoria.nombre %>
  </h3>

  <%= <%= form_with url: siac_cliente_convocatorias_path,
              method: :post,
              local: true do %>,
                method: :post,
                local: true do %>

    <% @dimensiones.each do |dimension| %>
      <section class="dimension-section">
        <h4 class="dimension-title"><%= dimension.dimension %></h4>

        <% dimension.componentes.each do |componente| %>
          <% next unless componente.convocatorias.include?(@convocatoria) %>

          <div class="componente-block">
            <h5><%= componente.nombre %></h5>

            <% if componente.campos.any? %>
              <% componente.campos.each_with_index do |campo, index| %>
                <%= generar_campo(campo, index + 1) %>
              <% end %>
            <% else %>
              <em>(Sin campos)</em>
            <% end %>
          </div>
        <% end %>
      </section>
      <hr>
    <% end %>

    <div class="submit-container">
      <%= submit_tag "Enviar convocatoria", class: "siac_button" %>
    </div>

  <% end %>
</div>
