<h2>Monitor de Actividad de Usuarios</h2>

<table class="list">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Acción</th>
      <th>Objeto</th>
      <th>Detalles</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |a| %>
      <tr>
        <td><%= a.user.try(:login) %></td>
        <td><%= format_time(a.created_at) %></td>
        <td><%= a.action %></td>
        <td><%= "#{a.target_type} ##{a.target_id}" %></td>
        <td><%= truncate(a.details, length: 100) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
