<table width=100%>
  <tbody>
    <tr>
      <td class="reporte-cabecera" width=70%>
        <h1><strong>Proyecto <%= @project.name%></strong></h1>
      </td>
      <td class="reporte-cabecera" width=30%>
        <h4><strong>FECHA DE REPORTE:</strong> <%= format_date(Date.today) %></h4>
        <h4><strong>RESPONSABLE:</strong> <%= User.current %></h4>
        <h4><strong>EVALUACION:</strong> <%= @show_calculo_actual ? "A la fecha" : "Anual" %></h4>
      </td>
    </tr>
  </tbody>
</table>
<br />
<% @programas.each_with_index do |lista_programas, i| %>
  <table class="tabla-reporte-indicador">
    <tbody>
      <tr class="tr-perspectiva">
        <th width=50%> <%= @values[i] %></th>
        <th width=25%> Asignado a</th>
        <th width=25%> <%= "#{calculate_ratio(lista_programas)}" %></th>
      </tr>
      <% lista_programas.each do |programa| %>
      <tr>
        <th width=50%> <%= link_to goal_link(programa), programa %></th>
        <th width=25%> <%= programa.assigned_to%> </th>
        <th width=25%> <%= programa.done_ratio %>%</th>
      </tr>

        <% programa.objetivos.each do |goal| %>
            <tr>
              <td align="left"><%= link_to goal_link(goal), goal%></td>
              <td align="center"><%= goal.assigned_to%></td>
              <td align="center">
                <%if !goal.estado(@show_calculo_actual).nil?%>
                  <div id="chart_obj_list_<%=goal.id%>" class="plot" style="background:transparent;height:100px;width:200px;"></div>
                  <script type="text/javascript">
                  $(document).ready(function(){
                     s1_list_<%=goal.id%> = [<%= goal.estado(@show_calculo_actual)%>];
                     plot_obj_list_<%=goal.id%> = $.jqplot('chart_obj_list_<%=goal.id%>',[s1_list_<%=goal.id%>],{
                         seriesDefaults: {
                             renderer: $.jqplot.MeterGaugeRenderer,
                             rendererOptions: {
                                 //label: 'Estado Objetivo',
                                 //labelPosition: 'bottom',
                                 //labelHeightAdjust: -5,
                                 //intervalOuterRadius: 85,
                                 showTickLabels: false,
                                 //ticks: [10000, 30000, 50000, 70000],
                                 intervals:[1, 2, 3, 4],
                                 intervalColors:['#ee2830', '#f69025', '#fdbe28', '#209a8b']
                             }
                         },
                         grid: {
                          background: 'transparent'
                        }
                     });
                  });
                  </script>
                <%else%>
                  <%if goal.indicadores.size == 0%>
                    <h4>Sin indicadores</h4>
                  <%else%>
                    <h4>Indicadores no iniciados</h4>
                  <%end%>
                <%end%>
              </td>
            </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>
  <br />
<%end%>
