<div class="div_section">

  <h3 class="siac_title">Nueva convocatoria</h3>
  <hr>
  <h3>Parámetros generales</h3> 
  <%= form_for @convocatoria, url: create_convocatoria_path, html: { onsubmit: 'return validarNuevaConvocatoria(event)' } do |f| %>
    
    <div class="field-container">
      <div class="field">
        <%= f.label :resolucion, 'Resolución: ' %>
        <span class="tooltip">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
          </svg>
          <span class="tooltiptext">Número de resolución (XXXXXX/XX)</span>
        </span>
        <%= f.text_field :resolucion, id:'inputResolucion', onkeyup: 'validarResolucion()'  %>
      </div>
      <div class="field">
        <%= f.label :nombre, 'Nombre: ' %>
         <span class="tooltip">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
          </svg>
          <span class="tooltiptext">Nombre asignado representativo de la convocatoria</span>
        </span>
        <%= f.text_field :nombre, id:'inputNombre'  %>
      </div>
    </div>

    <div class="error-container"> 
      <div class="errorResolucion"></div>
      <div class="errorNombre"></div>
    </div>

    <h3>Selección de oferta académica</h3>
    <div class="field">
      <%= f.label :titulaciones, 'Titulación: ' %>
      <span class="tooltip">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
        </svg>
        <span class="tooltiptext">Tipo de Titulación a la cual referira la convocatoria</span>
      </span>
      <%= f.select :titulaciones, options_for_select(@titulaciones), include_blank: 'Selecciona una opción', onchange: 'actualizarEspecialidades(this.value)'  %> 
    </div>
    <div class="error-container"> 
      <div class="errorTitulacion"></div>
    </div>

      <label>Selecciona las especialidades:</label>    
    <div class="table-wrapper">
      <table class="table custom-table" id="tableEspecialidades">
          <thead>
          <tr>
            <th scope="col">
              <div class="checkboxConvContainer">
                <input type="checkbox" class="checkbox" id="checkBoxConv">
                Seleccionar Todo
              </div>
            </th>
            <th scope="col">Cod. Especialidad</th>
            <th scope="col">Nombre de Especialidad</th>
          </tr>
        </thead>
        <!-- Aquí se cargarán las especialidades con JS (AJAX) -->
          <%= render partial: 'especialidades', locals: { especialidades: @especialidades } %>
      </table>
    </div> 

    <div class="error-container"> 
      <div class="errorEspecialidades"></div>
    </div>

    <br>
    <hr>

    <h3>Selección de periodos de la convocatoria</h3>
    <div class="field-container">
        <div class="field">
          <label>Fecha de la convocatoria:</label>
        </div>
         <span class="tooltip">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
          </svg>
          <span class="tooltiptext">Fecha desde y hasta estará abierta la convocatoria</span>
        </span>
        <div class="field">
          <%= f.label :fecha_inicio, 'Desde: ' %>
          <%= f.date_field :fecha_inicio, data: { required: true }  %>
        </div>
        <div class="field">
          <%= f.label :fecha_hasta, 'Hasta:' %>
          <%= f.date_field :fecha_hasta, data: { required: true }  %>
        </div>
    </div>
    <div class="error-container"> 
      <div></div>
      <div class="errorFechaInicio"></div>
      <div class="errorFechaHasta"></div>
    </div>

   <br>
   <hr>
   <br>

   <h3>Facultades regionales afectadas:</h3>
   <div class="table-wrapper">
    <table class="custom-table scroll-table" id="tableSedes">
        <thead>
        <tr>
          <th scope="col">
            <div class="checkboxConvContainer">
              <input type="checkbox" id="checkBoxConvSedes">
              Seleccionar Todo
            </div>
          </th>
          <th scope="col">FACULTAD REGIONAL</th>
          <th scope="col">EXTENSIÓN AULICA</th>
        </tr>
      </thead>
        <!-- Aquí se cargarán las sedes con JS (AJAX) -->
          <%= render partial: 'sedes', locals: { sedes: @sedes } %>
    </table>
    </div>

    <div class="error-container"> 
      <div class="errorSedes"></div>
    </div>

    <br>
    <hr>


    <h3>Dimensiones requeridas:</h3>
    <div class="table-wrapper">
    <table class="custom-table scroll-table" id='tableDimensiones'>
        <thead>
        <tr>
          <th scope="col">
            <div class="checkboxConvContainer">
              <input type="checkbox" id="checkBoxConvDimensiones">
              Seleccionar Todo
            </div>
          </th>
          <th scope="col">Dimensiones</th>
          <th scope="col" class="thDesc">Componentes</th>
        </tr>
      </thead>
      <tbody id="dimensiones-container">
        <% @componentes.each do |componente| %>
          <tr>
            <td>
              <div class="checkboxConvContainer">
                <input type="checkbox" class="checkbox rowCheckboxesComponente" name="componentes_codigos[]" id="check<%= componente.id %>" value="<%= componente.id %>">
                Seleccionar
              </div>
            </td>
            <td><%= get_nombre_dimension(componente.dimension_id) %></td>
            <td><%= componente.nombre %></td>
          </tr>
        <% end %>
        <tr class="paginationTr"><td colspan=3></td></tr>
      </tbody>
    </table>
    </div>
    
    <div class="error-container"> 
      <div class="errorDimensiones"></div>
    </div>

    <br>
    <br>

    <div class="submit-container">
    <input type="submit" id="inputSubmit" class="submit" value="Crear Convocatoria">
    </div>
  <% end %>

</div>

<%= link_to 'Volver a las convocatorias', convocatorias_path %>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'siac.css', plugin: :utn_siac %>
  <%= javascript_include_tag 'especialidades', plugin: :utn_siac %>
  <%= javascript_include_tag 'sedes', plugin: :utn_siac %>
  <%= javascript_include_tag 'validaciones_convocatorias', plugin: :utn_siac %>
  <%= csrf_meta_tags %>
<% end %>