<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'goals', plugin: 'dpi_cmi' %>
<% end %>

<h1><%= I18n.t 'cmi.title'%> - <%= @project.name%></h1>


  <% @goals.each_with_index do |goal_list, i| %>
    <% ratio=calculate_ratio(goal_list) %>
    <%if ratio %>
      <h3><%= @values[i] %> - <%= ratio %></h3>
    <%else%>
      <h3><%= @values[i] %></h3>
    <%end%>

        <table class="list issues" id="subniveles">
          <% goal_list.each do |goal| %>
            <tr class="issue <%= indicator_class(goal) %>">
              <td class="goal" <%= @show_peso ? "colspan=2" : "" %>> <%= goal.tracker.name+": "+goal.subject %></td>
            </tr>
            <%= render_descendants_tree_png(goal) if @show_sublevel && goal.visible? %>
          <% end %>
        </table>

  <% end %>