<script type="text/javascript" charset="utf-8">
function addCommas(element) {
    var str=element.value.replace(/\D/g,'');
    var len = str.length,
        output = "",
        i = len - 1;
    while(i >= 0) {
        output = str.charAt(i) + output;
        if ((len - i) % 3 === 0 && i > 0) {
            output = "." + output;
        }
        --i;
    }
    element.value=output;
};
window.onload = function() {
  addCommas(document.getElementById('valor'));
  document.getElementById('form-valor').onsubmit = function() {
    var txt_valor = document.getElementById('valor');
    txt_valor.value = txt_valor.value.replace(/\D/g,'');
  };
};
</script>

</script>
<%= form_for([@issue,@historic_value], html: {id: 'form-valor'}) do |f| %>
  <%= error_messages_for @historic_value %>
  <p><label><strong>Fecha: </strong></label></label><%= f.text_field(:fecha, :required=>true)%> <%= calendar_for('historic_value_fecha') %></p>
  <p><label><strong>Valor: </strong></label><%= f.text_field(:valor, :required=>true, :id=>'valor', :onkeyup=>"addCommas(this)")%></p>
  <%= f.submit "Guardar", class: "btn"%>
  <%= link_to "Cancelar", issue_historic_values_path(@issue), class: "btn"%>
<%end%>
