<div class="div_section">
  <h3 class="siac_title">Convocatorias disponibles</h3>

  <table class="table custom-table">
    <thead>
      <tr>
        <th>Convocatoria</th>
        <th>Fecha cierre</th>
        <th>Etapa Actual</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @convocatorias.each do |convocatoria| %>
        <tr>
          <td><%= convocatoria.nombre %></td>

          <td>
            <%= convocatoria.fecha_hasta.strftime("%d/%m/%Y") %>
          </td>

          <td>
            <span class="estado-etapa <%= convocatoria.etapa.to_s.downcase %>">
              <%= convocatoria.etapa %>
            </span>
          </td>
          <td>
            <div class="action_bar">
              <%= link_to "Completar convocatoria",
                  new_siac_cliente_convocatoria_path(convocatoria),
                  class: "siac_button" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "siac.css", plugin: :utn_siac %>
  <%= javascript_include_tag "funciones_siac", plugin: :utn_siac %>
<% end %>
