<div class="div_section">
  <h3 class="siac_title">Convocatorias disponibles</h3>

  <table class="table custom-table">
    <thead>
      <tr>
        <th>Convocatoria</th>
        <th>Fecha cierre</th>
        <th>Etapa Actual</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @convocatoria_especialidades.each do |row| %>
        <% convocatoria = row.convocatoria %>
        <% especialidad = row.especialidad %>

        <tr>
          <td>
            <%= convocatoria.nombre %><br>
            <small class="text-muted"><%= especialidad.nombre %></small>
          </td>

          <td><%= convocatoria.fecha_hasta.strftime('%d/%m/%Y') %></td>

          <td>
            <span class="estado-etapa <%= convocatoria.etapa.to_s.downcase %>">
              <%= convocatoria.etapa %>
            </span>
          </td>

          <td>
            <div class="action_bar">
              <%= link_to 'Completar convocatoria',
                siac_cliente_convocatoria_path(
                  convocatoria.id,
                  especialidad_id: especialidad.id
                ),
                class: 'siac_button' %>
            </div>
          </td>
        </tr>
      <% end %>

      <% if @convocatoria_especialidades.total_pages > 1 %>
        <tr class="paginationTr">
          <td colspan="4">
            <div class="pagination_menu">
              <%= paginate @convocatoria_especialidades %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>


  </table>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "siac.css", plugin: :utn_siac %>
  <%= javascript_include_tag "funciones_siac", plugin: :utn_siac %>
<% end %>
