<!-- HEADER -->
<div style="background: #627a93; padding: 10px 0; text-align: center;">
  <img src="https://i.postimg.cc/Y00m4WLK/UTN-header-blanco.png" alt="UTN" style="max-width: 100%; height: auto;">
  <h2 style="color: #FFFFFF; font-size: 24px; text-transform: uppercase; letter-spacing: 3px;">
    SEC. PLANEAMIENTO: SEGUIMIENTO DE CARRERAS
  </h2>
  <br>
  <p style="color: #FFFFFF; font-size: 40px"><b>[NO RESPONDER]</b><p>
</div>

<!-- CONTENIDO -->
<div style="max-width: 100%; height: auto; text-align: center; background: #7e94a9; padding: 20px 0;">
  <h2 style="color: #FFFFFF;">游댏 Recuperaci칩n de contrase침a</h2>

  <p style="color: #ffffff; font-size: 16px; margin-bottom: 10px;">
    <%= l(:mail_body_lost_password) %>
  </p>

  <p style="margin: 10px 0;">
    <a href="<%= @url %>" style="color: #ffffff; font-weight: bold; font-size: 16px;">
      <%= @url %>
    </a>
  </p>

  <p style="color: #ffffff; font-size: 14px; margin-top: 20px;">
    <%= l(:mail_body_lost_password_validity) %>
  </p>

  <p style="color: #ffffff; font-size: 14px; margin-top: 10px;">
    <%= l(:field_login) %>: <b><%= @token.user.login %></b>
  </p>

  <br>
</div>

<!-- FOOTER -->
<hr style="margin-top: 30px; border: none; border-top: 1px solid #ccc;" />
<p style="font-size: 12px; color: #666; line-height: 1.4; margin-top: 15px; text-align: center">
  Has recibido este mensaje porque solicitaste restablecer tu contrase침a en el sistema de la
  <strong>Secretar칤a de Planeamiento Acad칠mico</strong> de la <strong>Universidad Tecnol칩gica Nacional</strong>.<br>
  Si no fuiste vos, contactanos de inmediato a <a href="mailto:gdonato@rec.utn.edu.ar">gdonato@rec.utn.edu.ar</a>.
</p>
