
<%= form_for @componente, url: update_componente_path(@componente), html: { onsubmit: 'return validarNuevoComponente(event)' }, id: 'formComponente', method: :patch do |f| %>

  <div class="div_section">
    <h3 class="siac_title">Editar Componente</h3>
    <hr>
    <h3>Parámetros Generales</h3>

    <!-- Campos del componente -->

    <div class="field-container">
      <div class="long-field-4">
        <div class="lf4c1">
          <%= f.label :nombre, 'Nombre de Componente: ' %>
        </div>
        <div class="lf4c2">
          <span class="tooltip">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
            </svg>
            <span class="tooltiptext">Nombre representativo para identificar la componente.</span>
          </span>
        </div>
        <div class="lf4c3">
          <%= f.text_field :nombre, id: 'inputNombreComponente' %>
        </div>
        <div class="lf4c4 errorNombre">
        
        </div>
      </div>
    </div>


    <div class="field-container">
      <div class="long-field-4">
        <div class="lf4c1">
          <%= f.label :descripcion, 'Descripción de Componente: ' %>
        </div>
        <div class="lf4c2">
          <span class="tooltip">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
            </svg>
            <span class="tooltiptext">Descripción breve sobre la función de la componente.</span>
          </span>
        </div>
        <div class="lf4c3">
          <%= f.text_field :descripcion, id:'inputDescripcionComponente'  %>
        </div>
        <div class="lf4c4 errorDescripcion">
        </div>
      </div>
    </div>

    <div class="field-container">
      <div class="long-field-4">
        <div class="lf4c1">
          <%= f.label :dimension_id, 'Dimensión:' %>
        </div>
        <div class="lf4c2">
          <span class="tooltip">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
            </svg>
            <span class="tooltiptext">Dimensión relacionada a la componente.</span>
          </span>
        </div>
        <div class="lf4c3">
        <%= f.select :dimension_id,
            options_from_collection_for_select(@dimensiones, :id, :dimension, @componente.dimension_id),
            { include_blank: 'Selecciona una opción' },
            { id: 'componenteDimensionId' } %>

        </div>
        <div class="lf4c4 errorDimension">
        </div>
      </div>
    </div>
  </div>

  <div class="div_section">
    <!-- Campos anidados -->
    <div id="campos">
      <h3 class="siac_title">Campos</h3>
      <hr>
      <% @campos_convocatoria.each_with_index do |campo, index| %>
        <%= f.fields_for :campos, campo do |campo_form| %>
          <div class="nested-fields campo" data-index="<%= index + 1 %>" id="<%= index + 1 %>">
            <h3>Campo <span class="campo-index"><%= index + 1 %></span></h3>

            <%= campo_form.hidden_field :autoevaluacion, value: 0, class: "campo-autoevaluacion" %>
            <%= f.hidden_field :id %>

            <div class="long-field-4">
              <div class="lf4c1">
                <%= campo_form.label :pregunta, "Pregunta:" %>
              </div>
              <div class="lf4c2">
              <span class="tooltip">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                </svg>
                <span class="tooltiptext">Pregunta tal cual figurara en el formulario.</span>
              </span>
              </div>
              <div class="lf4c3">
              <%= campo_form.text_field :pregunta, class: "inputPregunta" %>
              </div>
              <div class="lf4c4 errorPreguntaCampo">
              </div>
            </div>

            <div class="long-field-2">
              <div class="lf2c1">
                <%= campo_form.label :obligatorio, "¿Es obligatorio completar este campo?" %>
              </div>
              <div class="lf2c2">
                <div class="checkboxContainer">
                  <%= campo_form.check_box :obligatorio, { class: "checkbox" }, "1", "0" %>
                </div>  
              </div>
            </div>

            <div class="long-field-2">
              <div class="lf2c1">
                <%= campo_form.label :tiene_pregunta_orientadora, "¿Este campo posee pregunta orientadora?" %>
              </div>
              <div class="lf2c2">
                <div class="checkboxContainer">
                  <%= campo_form.check_box :tiene_pregunta_orientadora, { class: "checkbox checkbox_pregunta_orientadora" }, "1", "0" %>
                </div>  
              </div>
            </div>

            <div class="long-field-4 pregunta_orientadora_container" style="display:none">
              <div class="lf4c1">           
                <%= campo_form.label :descripcion , "Pregunta Orientadora:" %>
              </div>           
              <div class="lf4c2">           
                <span class="tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                  </svg>
                  <span class="tooltiptext">Pregunta para guiar la respuesta.</span>
                </span>
              </div>           
              <div class="lf4c3">           
                <%= campo_form.text_area :descripcion , class: "inputPreguntaOrientadora" %>
              </div>           
              <div class="lf4c4 errorPreguntaOrientadora">
              </div>           
            </div>


            <div class="long-field-4">
              <div class="lf4c1">
                <%= campo_form.label :tipo_campo_id, "Tipo de Campo:" %>
              </div>          
              <div class="lf4c2">
                <span class="tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                  </svg>
                  <span class="tooltiptext">Tipo de campo habilitado para la respuesta a la pregunta</span>
                </span>
              </div>          
              <div class="lf4c3">
                <%= campo_form.select :tipo_campo_id,
                  options_for_select(
                    [["Selecciona una opción", ""]] + @tipos_campo.map { |t| [t.nombre, t.id] },
                    campo_form.object.tipo_campo_id
                  ),
                  {}, # opciones del helper (vacías)
                  { class: "tipo-campo", id: "selectTipoCampo_#{index}" } %>

              </div>          
              <div class="lf4c4 errorTipoCampo">
              </div>          
            </div>    
           
            <div class="tipo-campo-container">
              <div class="combo-box-container opciones-existentes"
                  data-opciones='<%= campo_form.object.opciones_campos.map { |o| { id: o.id, opcion: o.opcion, valor: o.valor } }.to_json %>'
                  data-campo-index="<%= campo_form.index %>">

                  <% campo_form.fields_for :opciones_campos do |opcion_form| %>
                    <%= opcion_form.hidden_field :id %>
                    <%= opcion_form.hidden_field :opcion %>
                    <%= opcion_form.hidden_field :valor %>
                  <% end %>
              </div>
            </div>


            <div class="long-field-2">
              <div class="lf2c1">
                <%= campo_form.label :permite_adjuntos, "¿Este campo permite adjuntar archivos?" %>
              </div>
              <div class="lf2c2">
                <div class="checkboxContainer">
                  <%= campo_form.check_box :permite_adjuntos, { class: "checkbox checkbox_permite_adjuntos" }, "1", "0" %>
                </div> 
              </div>
            </div>

            <div class="subcampos-container">
              <%= campo_form.fields_for :subcampos do |subcampo_form| %>
                <div class="subcampo">
                  <fieldset class="fs-subcampo">
                    <legend>Subcampo <%= subcampo_form.index.to_i + 1 %></legend>

                    <%= subcampo_form.hidden_field :id %>

                    <div class="long-field-4">
                      <div class="lf4c1"><label>Pregunta del Subcampo:</label></div>
                      <div class="lf4c3">
                        <%= subcampo_form.text_field :pregunta,
                          class: "inputPreguntaSubcampo" %>
                      </div>
                    </div>

                    <div class="long-field-2">
                      <div class="lf2c1"><label>¿Es obligatorio?</label></div>
                      <div class="lf2c2">
                        <div class="checkboxContainer">
                          <%= hidden_field_tag "#{subcampo_form.object_name}[obligatorio]", 0 %>
                          <%= subcampo_form.check_box :obligatorio,
                            { class: "checkbox checkbox_obligatorio_subcampo" }, 1, 0 %>
                        </div>
                      </div>
                    </div>

                    <div class="long-field-2">
                      <div class="lf2c1"><label>¿Tiene pregunta orientadora?</label></div>
                      <div class="lf2c2">
                        <div class="checkboxContainer">
                          <%= hidden_field_tag "#{subcampo_form.object_name}[tiene_pregunta_orientadora]", 0 %>
                          <%= subcampo_form.check_box :tiene_pregunta_orientadora,
                            { class: "checkbox checkbox_pregunta_orientadora_subcampo" }, 1, 0 %>
                        </div>
                      </div>
                    </div>

                    <div class="long-field-4 pregunta_orientadora_container_subcampo"
                        style="<%= subcampo_form.object.tiene_pregunta_orientadora? ? '' : 'display:none' %>">
                      <div class="lf4c1"><label>Pregunta orientadora:</label></div>
                      <div class="lf4c3">
                        <%= subcampo_form.text_area :descripcion,
                          rows: 2,
                          class: "inputDescripcionSubcampo" %>
                      </div>
                    </div>

                    <div class="long-field-2">
                      <div class="lf2c1"><label>¿Permite adjuntar archivos?</label></div>
                      <div class="lf2c2">
                        <div class="checkboxContainer">
                          <%= hidden_field_tag "#{subcampo_form.object_name}[permite_adjuntos]", 0 %>
                          <%= subcampo_form.check_box :permite_adjuntos,
                            { class: "checkbox checkbox_permite_adjuntos_subcampo" }, 1, 0 %>
                        </div>
                      </div>
                    </div>

                    <div class="long-field-4">
                      <div class="lf4c1"><label>Tipo de Campo:</label></div>
                      <div class="lf4c3">
                        <%= subcampo_form.select :tipo_campo_id,
                          options_for_select(
                            [["Seleccione una opción",""]] + @tipos_campo.map { |t| [t.nombre, t.id] },
                            subcampo_form.object.tipo_campo_id
                          ),
                          {},
                          { class: "tipo-subcampo" } %>

                        <%= subcampo_form.hidden_field :_destroy, value: false %>
                      </div>
                    </div>

                    <!-- ✅ Contenedor dinámico para opciones (coincide con JS) -->
                    <div class="tipo-subcampo-container"></div>

                    <div class="buttonera-1-c">
                      <%= link_to "Eliminar Subcampo", "#", class: "remove_subfields siac_button" %>
                    </div>

                  </fieldset>
                </div>
              <% end %>
            </div>





            <div class="buttonera-2-c">
              <div class="b2cb1">
                <%= link_to "+ Agregar un nuevo SubCampo", "#", id: "add_subcampo", class: "add_subfield siac_button" %>
              </div>
              <div class="b2cb2">
                <%= link_to "Eliminar Campo", "#", class: "remove_fields siac_button" %>
              </div>
            </div>
            <hr>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="buttonera-1-c">
      <%= link_to "+ Agregar un nuevo Campo a la Componente", "#", id: "add_field", class: "add_field siac_button" %>
    </div>
    
  </div>

  <div class="div_section">
    <h3 class="siac_title">Autoevaluación</h3>
    <hr>
      <!-- Campos anidados -->
    <div id="campos-autoeval">
      <% @campos_autoevaluacion.each_with_index do |campo, index| %>
        <%= f.fields_for :campos, campo do |campo_form| %>
          <div class="nested-fields-autoeval campo" data-index="<%= index + 1 %>">
            <h3>Campo <span class="campo-index"><%= index + 1 %></span></h3>
            
            <%= campo_form.hidden_field :autoevaluacion, value: 1, class: "campo-autoevaluacion" %>
            <%= f.hidden_field :id %>


            <div class="long-field-4">
              <div class="lf4c1">
                <%= campo_form.label :pregunta, "Pregunta:" %>
              </div>
              <div class="lf4c2">
              <span class="tooltip">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                </svg>
                <span class="tooltiptext">Pregunta tal cual figurara en el formulario.</span>
              </span>
              </div>
              <div class="lf4c3">
              <%= campo_form.text_field :pregunta, class: "inputPregunta" %>
              </div>
              <div class="lf4c4 errorPreguntaCampo">
              </div>
            </div>

            <div class="long-field-2">
              <div class="lf2c1">
                <%= campo_form.label :obligatorio, "¿Es obligatorio completar este campo?" %>
              </div>
              <div class="lf2c2">
                <div class="checkboxContainer">
                  <%= campo_form.check_box :obligatorio, { class: "checkbox" }, "1", "0" %>
                </div>  
              </div>
            </div>

            <div class="long-field-2">
              <div class="lf2c1">
                <%= campo_form.label :tiene_pregunta_orientadora, "¿Este campo posee pregunta orientadora?" %>
              </div>
              <div class="lf2c2">
                <div class="checkboxContainer">
                  <%= campo_form.check_box :tiene_pregunta_orientadora, { class: "checkbox checkbox_pregunta_orientadora" }, "1", "0" %>
                </div>  
              </div>
            </div>

            <div class="long-field-4 pregunta_orientadora_container" style="display:none">
              <div class="lf4c1">           
                <%= campo_form.label :descripcion , "Pregunta Orientadora:" %>
              </div>           
              <div class="lf4c2">           
                <span class="tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                  </svg>
                  <span class="tooltiptext">Pregunta para guiar la respuesta.</span>
                </span>
              </div>           
              <div class="lf4c3">           
                <%= campo_form.text_area :descripcion , class: "inputPreguntaOrientadora" %>
              </div>           
              <div class="lf4c4 errorPreguntaOrientadora">
              </div>           
            </div>


            <div class="long-field-4">
              <div class="lf4c1">
                <%= campo_form.label :tipo_campo_id, "Tipo de Campo:" %>
              </div>          
              <div class="lf4c2">
                <span class="tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                  </svg>
                  <span class="tooltiptext">Tipo de campo habilitado para la respuesta a la pregunta</span>
                </span>
              </div>          
              <div class="lf4c3">
                <%= campo_form.select :tipo_campo_id,
                    options_for_select(
                      [["Selecciona una opción", ""]] + @tipos_campo.map { |t| [t.nombre, t.id] },
                      campo_form.object.tipo_campo_id
                    ),
                    {}, # opciones del helper (vacías)
                    { class: "tipo-campo", id: "selectTipoCampo_#{index}" } %>
              </div>
              <div class="lf4c4 errorTipoCampo">
              </div>          
            </div>    

            <div class="tipo-campo-container">
              <div class="combo-box-container opciones-existentes"
                  data-opciones='<%= campo_form.object.opciones_campos.map { |o| { id: o.id, opcion: o.opcion, valor: o.valor } }.to_json %>'
                  data-campo-index="<%= campo_form.index %>">

                  <% campo_form.fields_for :opciones_campos do |opcion_form| %>
                    <%= opcion_form.hidden_field :id %>
                    <%= opcion_form.hidden_field :opcion %>
                    <%= opcion_form.hidden_field :valor %>
                  <% end %>
              </div>
            </div>


            <div class="long-field-2">
              <div class="lf2c1">
                <%= campo_form.label :permite_adjuntos, "¿Este campo permite adjuntar archivos?" %>
              </div>
              <div class="lf2c2">
                <div class="checkboxContainer">
                  <%= campo_form.check_box :permite_adjuntos, { class: "checkbox checkbox_permite_adjuntos" }, "1", "0" %>
                </div> 
              </div>
            </div>

            <div class="subcampos-container">
              <%= campo_form.fields_for :subcampos do |subcampo_form| %>
                <div class="subcampo">
                  <fieldset class="fs-subcampo">
                    <legend>Subcampo <%= subcampo_form.index.to_i + 1 %></legend>

                    <%= subcampo_form.hidden_field :id %>

                    <div class="long-field-4">
                      <div class="lf4c1"><label>Pregunta del Subcampo:</label></div>
                      <div class="lf4c3">
                        <%= subcampo_form.text_field :pregunta,
                          class: "inputPreguntaSubcampo" %>
                      </div>
                    </div>

                    <div class="long-field-2">
                      <div class="lf2c1"><label>¿Es obligatorio?</label></div>
                      <div class="lf2c2">
                        <div class="checkboxContainer">
                          <%= hidden_field_tag "#{subcampo_form.object_name}[obligatorio]", 0 %>
                          <%= subcampo_form.check_box :obligatorio,
                            { class: "checkbox checkbox_obligatorio_subcampo" }, 1, 0 %>
                        </div>
                      </div>
                    </div>

                    <div class="long-field-2">
                      <div class="lf2c1"><label>¿Tiene pregunta orientadora?</label></div>
                      <div class="lf2c2">
                        <div class="checkboxContainer">
                          <%= hidden_field_tag "#{subcampo_form.object_name}[tiene_pregunta_orientadora]", 0 %>
                          <%= subcampo_form.check_box :tiene_pregunta_orientadora,
                            { class: "checkbox checkbox_pregunta_orientadora_subcampo" }, 1, 0 %>
                        </div>
                      </div>
                    </div>

                    <div class="long-field-4 pregunta_orientadora_container_subcampo"
                        style="<%= subcampo_form.object.tiene_pregunta_orientadora? ? '' : 'display:none' %>">
                      <div class="lf4c1"><label>Pregunta orientadora:</label></div>
                      <div class="lf4c3">
                        <%= subcampo_form.text_area :descripcion,
                          rows: 2,
                          class: "inputDescripcionSubcampo" %>
                      </div>
                    </div>

                    <div class="long-field-2">
                      <div class="lf2c1"><label>¿Permite adjuntar archivos?</label></div>
                      <div class="lf2c2">
                        <div class="checkboxContainer">
                          <%= hidden_field_tag "#{subcampo_form.object_name}[permite_adjuntos]", 0 %>
                          <%= subcampo_form.check_box :permite_adjuntos,
                            { class: "checkbox checkbox_permite_adjuntos_subcampo" }, 1, 0 %>
                        </div>
                      </div>
                    </div>

                    <div class="long-field-4">
                      <div class="lf4c1"><label>Tipo de Campo:</label></div>
                      <div class="lf4c3">
                        <%= subcampo_form.select :tipo_campo_id,
                          options_for_select(
                            [["Seleccione una opción",""]] + @tipos_campo.map { |t| [t.nombre, t.id] },
                            subcampo_form.object.tipo_campo_id
                          ),
                          {},
                          { class: "tipo-subcampo" } %>

                        <%= subcampo_form.hidden_field :_destroy, value: false %>
                      </div>
                    </div>

                    <!-- ✅ Contenedor dinámico para opciones (coincide con JS) -->
                    <div class="tipo-subcampo-container"></div>

                    <div class="buttonera-1-c">
                      <%= link_to "Eliminar Subcampo", "#", class: "remove_subfields siac_button" %>
                    </div>

                  </fieldset>
                </div>
              <% end %>
            </div>





            <div class="buttonera-2-c">
              <div class="b2cb1">
                <%= link_to "+ Agregar un nuevo SubCampo", "#", id: "add_subcampo", class: "add_subfield siac_button" %>
              </div>
              <div class="b2cb2">
                <%= link_to "Eliminar Campo", "#", class: "remove_fields siac_button" %>
              </div>
            </div>
            <hr>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="buttonera-1-c">
      <%= link_to "+ Agregar un nuevo Campo a la Autoevaluación", "#", id: "add_field_autoeval", class: "add_field siac_button" %>
    </div>
  </div>

  <div class="submit-container">
    <input type="submit" id="inputSubmit" class="submit siac_button" value="Actualizar Componente">
    </div>
    
    <%= link_to 'Volver a componentes', componentes_path %>
  </div>


<% end %>


<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'siac.css', plugin: :utn_siac %>
  <%= javascript_include_tag 'validaciones_componentes', plugin: :utn_siac %>
  <%= javascript_include_tag 'componentes', plugin: :utn_siac %>
  <%= csrf_meta_tags %>
<% end %>

<script>
  document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
    const name = checkbox.name;
    const hidden = checkbox.parentNode.querySelector(`input[type="hidden"][name="${name}"]`);
    if (!hidden) {
      const h = document.createElement("input");
      h.type = "hidden";
      h.name = name;
      h.value = "0";
      checkbox.before(h);
    }
  });
<script>